/* #region Common */

:root {
    --social-primary: rgb(13, 110, 253);
    --social-secondary: lightgray;
    --social-dark: black;
    --social-light: white;
    --social-gray: gray;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--social-secondary);
}

a {
    text-decoration: none;
    color: var(--social-dark);
}

img {
    max-width: 100%;
}

/* #endregion Common */

/* #region Utilities */
.mx_15 {
    margin: 0 0.15rem;
}

.mt_6 {
    margin-top: 6rem;
}

.mt_8 {
    margin-top: 8rem;
}

.fs_85 {
    font-size: 0.85rem;
}

.text_gray {
    color: var(--social-gray);
}

.bg_primary {
    background-color: var(--social-primary);
}

.bg_secondary {
    background-color: var(--social-secondary);
}

.bg_gray {
    background-color: var(--social-gray);
}

.gray_shadow {
    box-shadow: 0 0 0.5rem var(--social-gray);
}

.black_shadow {
    box-shadow: 0 0 1rem var(--social-dark);
}

.tag {
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
    color: var(--social-light);
    font-size: 0.75rem;
}

/* #endregion Utilities */

/* #region users.php */

.user_card {
    width: 18rem;
    min-height: 20rem;
}

/* #endregion users.php */